# ROS Ignores
ros/build
ros/devel
ros/src/CMakeLists.txt
ros/src/CMakeLists.txt.*

# Other CMake projects
ros/src/gscam

# Python
*.pyo
*.pyc

# Misc things
ros/.catkin_workspace
ros/test.launch
compile_commands.json

# Vim Autosaves
*/*~

# VSCode Files
.vscode
**/.vsocde
.idea/
.dir-locals.el
cmake-build-debug

# Emacs/Spacemacs Autosaves
.#*
.dir-locals.el

# TensorFlow
ros/src/vision/tensorflow
